
.clothingSection{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #efefef;
}

.clothingSectionHeader{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clothingSectionHeader > h4{
    font-weight: 400;
    font-size: 50px;
    color: white;
    margin-top: 75px;
    margin-bottom: 10px;
    color: #2f2d31;
}


.clothingContainer{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.clothingImage{
    max-height: 300px;
    max-width: 300px;
    height: 250px;
    -webkit-filter: drop-shadow(1px 2px 3px #222);
    filter: drop-shadow(1px 2px 3px #222);
}